<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Join The Fellowship</h1>
    <form method="POST" action="/users">
        <label for="username"> Username: </label><input name="username" id="username" />
        <label for="password">Password:</label><input type="password" name="password" id="password" />
        <label for="firstName">First Name: </label><input name="firstName" id="firstName" />
        <label for="lastName">Last Name: </label><input name="lastName" id="lastName" />
        <label for="bio">Short Bio: </label><input name="bio" id="bio" />
        <input type="submit" />
    </form>
</body>
</html>